<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.osynovskyy.weather-automator</string>
	<key>Program</key>
	<string>Weather-Automator</string>
	<key>ProgramArguments</key>
	<array>
		<string>Weather-Automator</string>
		<string>--comp</string>
		<string>weather.qtz</string>
		<string>--audio</string>
		<string>weather.aif</string>
		<string>--in</string>
		<string>0.0</string>
		<string>--out</string>
		<string>37.0</string>
		<string>--data</string>
		<string>sector_openweather.qtz</string>
		<string>sector_forecastio.qtz</string>
		<string>--time</string>
		<string> 09:00</string>
		<string> 12:00</string>
		<string> 15:00</string>
		<string> 18:00</string>
		<string> 21:00</string>
		<string> 23:00</string>
		<string>--ingest</string>
		<string>/Users/osynovskyy/</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/osynovskyy/Weather-Automator</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>8</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
